header{
  padding:3.5rem  0m;
  height:7.5rem;
  
  max-width:144.6rem;
  width:100%;
  
  display:flex;
  justify-content: space-between;
  align-items: center;

  .menu-infos{
    display:flex;
    align-items: center;
    gap:20rem;
    ul{
      display:flex;
      gap:4rem;
      li{
        
        display:block;
        
        a{
          display:block;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 1.9rem;
          color: white;
          text-decoration: none;
          transition: filter 0.25s;
          &:hover{
            filter: brightness(0.78);
            -webkit-filter: brightness(0.78);
          }
        }
      }
    }
  }

  .access{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:4rem;
    .login{
      display:flex;
      align-items: center;
      justify-content: center;
      gap:1rem;
      text-decoration: none;
      span{
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.8rem;
        color:white;
      }
    }

    .button-create-account{
      border:1px solid white;
      padding:1rem 2.5rem;

      border-radius:5px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      -ms-border-radius:5px;
      -o-border-radius:5px;

      text-decoration: none;
      color:white;
    }
  }
  
}