footer{
  margin-top:9rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

.contaner-footer{
  
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  .top{
    max-width: 124.5rem;
    width:100%;
    .menu-block{
      margin:0 auto;
      display:flex;
      
      align-items: flex-start;
     gap:6rem;
     @media (max-width:425px){
      flex-direction: column;
      padding:0 2rem;
    }
      .menu-footer{
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        width:100%;
        ul{
          display: flex;
          flex-direction: column;
          gap:0.8rem;
          li{
            a{
              font-weight: 500;
              font-size: 1.5rem;
              line-height: 2.4rem;
              color:var(--blue-500);
              text-decoration: none;
            }
           
    
            display:flex;
          }
    
          & li:first-child{
            font-weight: 700;
            font-size: 1.6rem;
    
          }
    
        }
    
        h2{
          font-weight: 600;
          font-size: 2rem;
          line-height: 3rem;
        }
    
        .input-email-stayin{
         
          padding: 0 1.2rem;
          display:flex;
          height:4rem;
          background-color:  rgba(241,239,234,255);
          
          border-radius: 8px;
          margin-top: 2.4rem;
          input{
            border:0;
            width:100%;
            height:100%;
           
            background-color:  rgba(241,239,234,255);
          
    
            color:#575757;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            &:focus{
              outline: 0;
              box-shadow: 0 0 0 0;
            }
          }
          img{
            width:1.6rem;
          }
        }
      }
      
    
    }
    .social-network{
      width:100%;
      
      display:flex;
      justify-content: end;
  
      margin-top:7rem;
      .content-social-network{
        
        h2{
          font-weight: 600;
          font-size: 2rem;
          line-height: 3rem;
        }
        .links{
          display:flex;
          gap:1rem;
          img{
            padding:0.8rem;
            background:url("../../assets/BG.svg");
            background-repeat: no-repeat;
            background-size: contain;
            
          }
        }
       
      }
     
    }
  }
  .bottom{
    margin-top:9rem;
    border-top:1px solid #BCBCBC;
    width:100%;
    @media (max-width:425px){
      padding:0 2rem;
    }
    .politics{
      max-width: 124.5rem;
      margin:0 auto;
      
      display:flex;
      align-items: center;
      justify-content: space-between;
      gap:11.7rem;
  
      height:20rem;
      p{
        max-width:61.4rem;
        width:100%;
        color:#575757;
        font-size: 0.8rem;
        line-height: 1rem;
      }
  
      ul{
        display:flex;
        flex-wrap: wrap;
        justify-content: start;
        gap:1rem;
        max-width: 50rem;
        width:100%;
        
        @media(max-width:425px){
          display:none;
        }
       
        li{
          display:flex;
          
          a{
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 2.6rem;
  
            color:#575757;
          }
        }
      }
    }
  }
  
}
