*{

  --blue-500:#1E1F3D;
  --orange-500:#FF481C;

  --gray-200:#F5F5F5;
  --gray-300:#E8EAEC;
  --gray-500:#575757;
  
  --pink-50: rgba(253, 243, 240, 0.6);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body{
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;

  .container-sup{
    padding: 0 7.2rem;
    width:100%;
    .content-base{
        width:100%;
        max-width: 124.5rem;  
        margin:0 auto;
    }
  }
}
@media screen and (min-width: 998px) and (max-width: 1245px) {
  :root {
    font-size:46.87%; 
  }
  
}
@media screen and (min-width:425px ) and (max-width: 998px) {
  :root {
    font-size: 31.25%;
  }
  
}

@media screen and (max-width: 425px) {
  :root {
    font-size: 31.25%;
  }

  body .container-sup{
    padding: 0 2rem;
    
  }
  
}


button{
  cursor: pointer;
}

h1{
  color:var(--blue-500);
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 6rem;
}

h5{
  font-weight: 700;
  font-size: 1.6;
  line-height: 1.9rem;
  color:var(--orange-500);
}


h3.title-page{
  padding-top:6.8rem;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;

  color: #636363;
}

p{
  color:white;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
}

p.text-page{
  color:var(--gray-500);
}


.polygon-blue-dark{
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  background: linear-gradient(121.82deg, #2F304A 29.9%, #1B1C31 73.62%);
 
}

.ellipses {
  position: relative;
 
  @media screen and (max-width:1024px) {
    &.top{
      img{
        max-width: 5em;
      }
    }

   
  }
  img {
    position: absolute;
    
    border-radius: 100%;
    &:last-child {
      left: 8rem;
    }
    &:nth-child(2) {
      left: 4rem;
    }


  }
}

.ready{
  margin: 8rem auto;
}


label{
  display:block;
  margin-top:1.6rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color:#7a7b85;
}
 input.input-login{
  width:100%;
  height:5rem;
  margin-top:0.8rem;
  padding:1.6rem 2.6rem;
  
  border: 0.8px solid #E7E9ED;
  background: #FAFAFC;

  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

