*{

  --blue-500:#1E1F3D;
  --gray-200:#F5F5F5;
  --gray-500:#575757;
  --orange-500:#FF481C;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body{
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}

h5{
  font-weight: 700;
  font-size: 1.6;
  line-height: 1.9rem;
  color:var(--orange-500);
}
h1{
  color:white;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 4.5rem;
}
p{
  color:white;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
}


.polygon-blue-dark{
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  background: linear-gradient(121.82deg, #2F304A 29.9%, #1B1C31 73.62%);
 
}

.ellipses {
  position: relative;
 
  img {
    position: absolute;
    
    border-radius: 100%;
    
    &:last-child {
      left: 8rem;
    }

    &:nth-child(2) {
      left: 4rem;
    }


  }
}