#container-home {
  #whatsapp-contact{
    background-color:#2EC957;
    position: fixed;
    right:4rem;
    bottom:4rem;
    padding:2rem;
    border-radius: 100%;
    z-index: 110;
    
  }

  #header-block{
    .container-sup{
      &:nth-child(1){
        background: linear-gradient(116.22deg, #E0784B 0%, #FF7347 22.47%, #E8AB4F 46.94%, #FEA827 69.91%, #FE471B 95.88%);
        background-size: cover;
        width:100%;
        
      }
      .content-base{
        .content-top {
         
          display: flex;
          align-items: center;
    
          flex-direction: column;
          width: 100%;
    
          #top-header {
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            
            margin-top: 8rem;

            @media (max-width:998px){
              margin-top: 2rem;
            }
            @media (max-width:425px){
              margin-top: 4rem;
              flex-direction: column;
            }
    
            .base-title {
              display: flex;
              flex-direction: column;
              gap: 5.4rem;
    
              .title-highlight {
                h5:first-child {
                  font-weight: 700;
                  font-size: 1.6rem;
                  line-height: 1.9rem;
    
                  color: rgba(255, 255, 255, 0.5);
                }
    
                h1 {
                  font-weight: 600;
                  font-size: 6rem;
                  line-height: 7rem;
                  color: white;
    
                  span {
                    color: #1E1F35;
                  }
                }
    
                h5 {
                  font-weight: 400;
                  font-size: 2rem;
                  line-height: 2.5rem;
                  color: white;
                }
    
              }
    
              .about-acess {
                margin-top: 2.4rem;
              }
    
              .info-accept-qty {
                display: flex;
    
                align-items: center;
                gap: 15rem;
               
                height: 7.8rem;
    
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 120%;
    
                color: white;
    
               
                .ellipses.top {
                  img {
                    top: -3.2rem;
                  }
                }
                @media (max-width: 978px){
                  gap: 18rem;
  
                  .ellipses {
                    img {
                      top: -4rem;
                    }
                  }
                }
    
              }
            }
    
            .base-cell {
              width: 100%;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              
              @media (max-width:998px){
                .blocks-cell{
                  display:none;
                }
              }
            }
          }
        }
      }
    }
  }
  main {
    position: relative;
    width: 100%;

    #down-part {
      position: absolute;
      width: 100%;
      top: -24rem;
      
      @media (max-width:992px){
        top: -20rem;

      }

      .container-sup {
        @media (max-width:425px){
          height :auto;

          .content-base{
            margin-top:6rem;
            flex-wrap: wrap;
            gap:4rem;
          }
        }

        width: 100%;
        height: 26.65rem;
        clip-path: polygon(50% 0, 100% 25%, 100% 100%, 0 100%, 0 25%);

        background-color: white;

        display: flex;
        align-items: center;
        justify-content: center;

        .content-base {
          display: flex;
          justify-content: space-between;

          img {
            margin-top: 5rem;
            max-width:16rem;
            width:100%;
          }
        }

      }

      #about-paymee {
        padding: 6rem 7.2rem;
        padding-top: 2.7rem;
        font-weight: 700;

        display: flex;
        align-items: center;
        justify-content: center;


        .content-about-paymee {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 124.5rem;
          width: 100%;

          .description-about {

            width: 66.9rem;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            text-align: center;

            h5 {
              color: #FF481C;

              font-size: 1.6prem;
              line-height: 2.5prem;
            }

            p {
              color: var(--blue-500);
              font-size: 4.8rem;
              line-height: 5rem;
            }

            span {
              font-weight: 400;
              font-size: 2rem;
              line-height: 2.5rem;
              color: #575757;
            }
          }

          .info-relevant-blocks {
            margin: 8rem 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .block {
              width: 24.2rem;

              img {
                padding: 1rem;
              }

              p {
                color: var(--blue-500);
                font-weight: 700;
                font-size: 2rem;
                line-height: 2rem;

                span {
                  display: inline;
                }
              }

              span {
                display: block;

                color: var(--gray-500);
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 1.8rem;

                margin-top: 1.6rem;
              }
            }
          }
        }


      }

      #how-it-works {
        background: linear-gradient(239.9deg, #1B1C31 31.06%, #2F304A 78.25%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 6rem 7.2rem;
        

       
        .content {
          max-width: 124.5rem;
          width: 100%;
          margin-top: 2rem;

          display: flex;
          justify-content: space-between;
          @media (max-width:425px){
              justify-content: center;
              flex-direction: column-reverse;
              gap:1rem;
              
          }
          img#code-image{
            max-width: 64.9rem;
            width:100%;
            height:100%;
            
          }

          .description-how-it-works {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h1{
              color:white;
            }
            span {
              font-weight: 700;
              font-size: 1.8rem;
              line-height: 2.9rem;
              color: white;
            }
          }
        }
      }

      #about-way-payment {
        padding: 6rem 7.2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .content-way-payemnt {
          display: flex;
          justify-content: space-between;
          gap: 8.5rem;
          max-width: 124.5rem;
          width: 100%;

          @media (max-width:425px){
            flex-direction: column;
          }
          .solutions {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            h1 {
              color: var(--blue-500)
            }

            p {
              color: var(--gray-500);
              margin-bottom: 4rem;
            }
          }
          .options-way-payment {
            width: 100%;
            .scrap {
              display: flex;
              gap: 4.8rem;

              &:first-child {
                margin-bottom: 5rem;
              }
            }
          }
        }
      }

      #integrations-apps{
       
        background-color: var(--gray-200);

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6rem 7.2rem;
        
        @media (max-width:425px){
          margin-top:4rem;
         

          .content-integrations-apps{
            padding: 2rem 0;
            justify-content: center;
            flex-direction: column-reverse;

            .whatplus{
              display:none;
            }
            
          }
          
         }
        .content-integrations-apps{
          width:100%;
          max-width: 124.5rem;
          display:flex;
          gap:13rem;
          .brands{
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap:6rem; 

            img{
              max-width: 22.3rem;
              width:100%;
            }
          }

          .description.about-integrations{
            width:100%;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            
            gap:2.3rem;

            .interations{
              margin-top:5.5rem;
              display:flex;
              align-items: center;
              gap:2.5rem;

              span.dev{
                color:var(--orange-500)
              }
            }
            h1,p{
              color: var(--blue-500);
            }

           
            span.whatplus{
              color:var(--gray-500);
              margin:4rem 0 0 18rem;
            }

          }

        }
      }

      #cases-who-use-recommend{
        margin-top:7.3rem;
        background: linear-gradient(180deg, rgba(255,255,255,1) 35%, rgba(245,245,245,1) 100%);
        .content-cases-who-use-recommend{
          position: relative;
          display:flex;
          align-items: center;
          flex-direction: column;
          padding: 2rem 0;
        
          padding: 0 7.2rem;
          
          .container-recommendation{
            
            z-index: 2;
            max-width: 124.5rem;
            width:100%;
            text-align: center;
            
            h5{
              font-weight: 700;
              font-size: 2rem;
              line-height: 2.4rem;
              letter-spacing: 0.3em;

              margin-bottom:1rem;
            }
            h1{
              font-weight: 700;
              font-size: 4.5rem;
              line-height: 5rem;
              color:var(--blue-500);

              span{
                color:var(--orange-500)
              }
            }
            .messages-blocks{
              margin-top:4.6rem;
              display:flex;
              justify-content: space-between;
              gap:5%;
              
            }
          }
        
          .polygon-blue-dark{
            position: absolute;
            z-index: 0;
            width:100%;
            top:18rem;
            height:118.5rem;
            
            display:flex;
            justify-content: center;
            align-items: center;

            @media (max-width:425px){
              height:auto;
              padding: 20rem 7.2rem;
              .polygon-content{
                flex-direction: column;
              }
            }
            .polygon-content{
              width:100%;
              max-width: 124.5rem;

              display:flex;
              justify-content: space-between;
              align-items: center;
              gap:7.6rem;
              
              .ep-pilote{
                
                max-width: 52.7rem;
                width: 100%;
                height:57.7rem;
                border-radius: 20px;

                .polygon-ep{
                  border-radius: 20px 20px 0 0;
                  clip-path: polygon(0 0, 100% 0%, 100% 64%, 0 100%);
                  background: linear-gradient(116.22deg, #FEA43B 0%, #E8714F 26.03%, #FE2774 61.03%, #FE471B 95.88%);
                  height:28rem;

                  
                }
                .content-ep{
                  position: relative;
                  top:-12rem;
                  padding: 6.6rem;
                 
                  h3{
                    margin-top: 10rem;
                    color:var(--orange-500);
                    font-size:1.6rem;
                  }
                  p{
                    margin-top: 2rem;;
                    color:var(--blue-500);
                    font-weight: 600;
                    font-size:2.1rem;
                    
                  }

                  button{
                    padding:1rem 2.5rem;
                    margin-top: 5rem;
                    background-color: var(--blue-500);
                    color:white;
                    border:0;
                    border-radius: 6px;

                    font-size: 1.6rem;
                  }
                }
                
                background-color: white;
              }

              .about-event{
                max-width: 61rem;;
                h5{
                  font-weight: 700;
                    font-size: 1.6rem;
                    line-height: 1.9rem;

                    color: var(--orange-500);
                }
                h1{
                  margin-top:2.2rem;
                  color:white;
                }
                p{
                  margin:1.6rem 0 6.4rem 0;;
                }
                a{
                  color:white;
                  background-color: var(--orange-500);
                  padding:1.5rem 3.3rem;
                  margin-top:1;
                  border-radius: 6px;

                  text-decoration: none;
                }

                span{
                  display: block;
                  margin-top:3rem;
                  color:white;
                }
              }
            }
          }

          .container-type-payment{
            z-index: 10;
            max-width: 124.5rem;
            width: 100%;

           
            margin-top:80rem;
            display: flex;
            align-items: center;
            justify-content: center;
            
            @media (max-width:425px){
              margin-top:110rem;

            }
            .content-type-payment{
              display:flex;
              justify-content: space-between;
              width:100%;
              
            }
          }

          .info-plus{
            width:100%;
            max-width: 124.5rem;
            z-index: 10;
            
            margin: 5rem 0 ;

            .first-part{
              display:flex;
              align-items: center;
              gap:2.7rem;
            }
            .second-part{
              margin-top: 5.6rem;
              display:flex;
              align-items: center;
              gap:14.5rem;

              @media (max-width:425px){
                gap: 4rem;
                flex-direction: column;
                align-items: flex-start;

                .info-extra{
                  margin-left:4rem;
                }
              }
              .banks{
               
                max-width: 33rem;
                width:100%;
                span{
                  font-weight: 600;
                  font-size: 1.5rem;
                  line-height: 5rem;
                }

                @media (max-width:425px){
                  max-width:100%;
                }
                .banks-content{
                  display: flex;
                  justify-content: space-between;
                }
              }
              .info-extra{
                max-width:30.6rem;
                width:100%;
                height:100%;
               
                ul{
                  display:flex;
                  justify-content: space-between;
                  align-items: center;
                  flex-wrap: wrap;
                  li{
                    list-style-image:url("../../assets/icons/yes.svg");

                    font-weight: 600;
                  font-size: 1.5rem;
                  line-height: 5rem;
                  }
                }
              }
            }
            
          }
        }
      }

      #doubts{
        background: linear-gradient(264.04deg, #1B1C31 24.61%, #2F304A 99.06%);
          display:flex;
          justify-content: center;
        .container.about-doubts{
          width: 100%;
          max-width: 124.5rem;
          height:86rem;
          display:flex;
          gap:10.6rem;
          padding: 4.8rem 7.2rem;
         
          @media (max-width:425px){
            flex-direction: column;
            gap:2rem;
          }
          .questions-support{
            h1{
              color:white;
            }
            p{
              margin: 2.3rem 0 3.5rem 0;
              font-weight: 400;
              font-size: 1.8rem;
              line-height: 2.9rem;
            }

            a{
             
              color:var(--orange-500);
              text-decoration: none;

              font-weight: 700;
              font-size: 1.8rem;
              line-height: 2.9rem;
            }
          }

          .frequentily-doubts{

            section{
              font-weight: 700;
              font-size: 2rem;
              line-height: 2.9rem;

              color:white;
              border-bottom: 2px solid #8896A6;
              padding: 2rem 0;
              span{
                display: inline-block;
                float: right;

              }

              h3{ 
                display: inline-block;
               
              }

              .answare{
                margin-top:1rem;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2.9rem;
              }
            }
           
          }
        }
      }

      .ready-block{
        position: relative;
        top:-20rem;
        display:flex;
        justify-content: center;

        @media (max-width:425px){
          top:-10rem;
        }
      }
    }
  }
}