.button-create-account{
  padding:1.5rem 4.1rem;
  border-radius:5px;
  text-decoration: none;
  color: white;
  width:21.6rem;
  
  display:flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  transition: filter 0.25s;

  &:hover{
    filter: brightness(0.75);
    
  }
  img{
    margin-top:3px;
  }
}