.button-create-account{
  
  padding:1.5rem 4.1rem;

  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;

  text-decoration: none;
 
  color: white;
  width:21.6rem;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  img{
    margin-top:3px;
  }
}