#header-menu-burger{
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
 
 
  img.logo{
    max-width:12rem;
    width:100%;
    margin-left:1rem;
  }
  .button-bg{
    color:white;
   
    &.black-color{
      color:var(--blue-500);
    }
  }
  .container-burger{
    display:block;
    background-color: white;
    border-radius: 2px;
    margin-top:10rem;
    position: absolute;
    left:0;
    top: -4rem;
    width:100%;
    padding:1rem;
    z-index: 120;
    &.isDesactive{
      display:none;
    }
    ul{

      display:flex;
      flex-direction: column;
      gap:1rem;
      li{
        display:flex;
        padding:2rem;
        a{
          font-size: 3rem;
          line-height: 3rem;
          font-weight: 600;
          color:var(--blue-500);
          text-decoration: none;

          &:hover{
            color:var(--orange-500)
          }
        }
       
      }
    }
    
  }
 
  
  
  .access{
    margin-left: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:4rem;
    .login{
      display:flex;
      align-items: center;
      justify-content: center;
      gap:1rem;
      text-decoration: none;
      &.black-color span{
        color:var(--blue-500);
      }
      span{
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.8rem;
        color:white;
       
        
      
      }
    }

    .button-create-account{
      border:1px solid white;
      padding:0.4rem 2.5rem;

      border-radius:5px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      -ms-border-radius:5px;
      -o-border-radius:5px;

      text-decoration: none;
      
    }
  }
}

