.recommendation-container{
  height:22.4rem;
  max-width: 44.4rem;
  width: 100%;
  background-image: url('../../assets/rec.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
}