#container-create-account{
  height: 100vh;
  width:100wh;
  .content-create-account{
    border-top:1px solid var(--gray-200);
    display:flex;
    justify-content: space-between;
   
    .form-create-account-getin{
     
      margin:0 auto;
      max-width: 70rem;
      width:100%;
      padding:0 10rem 0 10rem;
      h1{
        margin-top:4.4rem;
        font-weight: 600;
        font-size: 4rem;
        line-height: 5rem;
        color:var(--blue-500);
      }
     

      form{
        margin-top:2.7rem;
        

        .conection{
          display:flex;
          align-items: center;
         
          margin: 0.8rem 0 3rem ;
      
          label{
            margin:0 0.6rem;
            color:var(--blue-500);
          }
          #chackbox-connect{
            width:2rem;
            height:2rem;
            background: #FAFAFC;
            border: 0.8px solid #E7E9ED;
            border-radius: 4px;
            border:1px solid blue;
          }
          a{
            margin-left: auto;
            color:var(--blue-500);
          }
        }

        button.register{
          margin-top:4.2rem;
          width:100%;
          height:5rem;
          border:0;
          background: var(--orange-500);
          border-radius: 5px;

          font-weight: 600;
          font-size: 1.8rem;
          line-height: 2.2rem;

          color: #FFFFFF;

          cursor: pointer; 
          
          transition: filter 0.25s;

          &:hover{
            filter:brightness(0.9)
          }
        }
      }
      p{
        margin-top:1.3rem;
        text-align: center;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.8rem;

        color:var(--blue-500);

        a{
          color:var(--blue-500);
        }
      }
    }
    .about-create-account{
      @media(max-width: 425px){
        display:none;
      }
      max-width: 106.7rem;
      width:100%;
      height:100vh;
     
      background: url('../../assets/female-image-online.png') no-repeat;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
